.content{
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 500px;
}

.tarjeta {
    position: relative;
    width: 450px;
    height: 350px;
    margin: 10%;
    background: url('../assets/Anatomia.jpg') center no-repeat;
    background-size: cover;
    border: 2px solid #0b92d0;
    border-radius: 10px;
    transform-style: preserve-3d;
    will-change: transform;
    transition: all .5 ease-out;
}

.titulo {
    color: #f9ebdf;
    position: absolute;
    top: 40%;
    right: 20px;
    transform: translateY(-50%);
    transition: transform .5s ease-in;
}